@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #d6d5d5;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aliceblue;
  font-size: 1.8em;
  padding: 0.5em 0;
}

.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 0.5em;
}

.categories {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.8em 0;
}

.categories .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aliceblue;
  width: 150px;
  height: 160px;
  cursor: pointer;
  border-radius: 2em;
  text-decoration: none;
  color: #c715c7;
  margin-bottom: 2em;
}

.categories .card img {
  height: 3em;
}

.categories .card p {
  font-size: 1.3em;
  text-align: center;
}

.categories .card:hover {
  color: rgba(199, 21, 199, 0.4);
}

@media only screen and (min-width: 600px) {
  .navbar img {
    margin-left: 1em;
  }
  .categories {
    height: calc(100vh - 84.3px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
  }
  .categories .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    width: 200px;
    height: 300px;
    cursor: pointer;
    color: #c715c7;
    border-radius: 10px;
    text-decoration: none;
  }
  .categories .card img {
    width: 7em;
    height: 7em;
  }
  .categories .card p {
    font-size: 1.3em;
    padding: 0.4em 0.3em;
    text-align: center;
  }
  .categories .card:hover {
    color: rgba(199, 21, 199, 0.4);
  }
}

@media only screen and (max-width: 600) {
  .categories .card {
    width: 100px;
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */